<h1>All Pics</h1>
<p><%= link_to 'New Pic', new_pic_path %></p>                    
<p><%= link_to 'My Pics', mypics_pics_path %></p>


<form action="<%= pics_path %>" method="get">
  <%= text_field_tag :search, params[:search], placeholder: "Search Pics" %>
  <%= submit_tag "Search", :name => nil %>
</form>

 <div class='all_pics'>
  <% @pics.each do |pic| %>
<table>
    <tr>
      <th style="vertical-align: top; width: 130px;">
        <strong><%= pic.user.username if pic.user %></strong><br>
        <small><%= time_ago_in_words(pic.created_at) %> ago</small>
        <h5 class="captioning"><em><%= pic.caption %></em></h5>
      </th>

      <th>
      <a href="<%= pic_path(pic) %>">
        <%= image_tag pic.image.url(:medium) , class: 'uploaded-pic' %>
      </a>
      </th>
    </tr>
    <tr>
      <th>
      </th>
      <th>
        <center>
          <p class="tags"><% pic.tags.each do |tag| %>
          <%= link_to tag.tag, tag %> 
          <% end %>
          </p>
          <br><br><br>
        </center>
      </th>
    </tr>
  <% end %>
</table>
</div>