<%= form_for @pic, html: { multipart: true } do |f| %>
	<p>
		<%= f.label :caption %><br>
		<%= f.text_field :caption %><br>
		<%= f.label :image %><br>
		<%= f.file_field :image %><br>
		<%= f.label :tag, 'Tag(s)'%><br>
		<%= f.text_field :tag %><br>
	</p>
	<p>
		<%= f.submit "Share" %>
	</p>
<% end %>

<%= link_to 'Back', :back %>